.header {
    height: 100vh;
    background: url(../../../gfx/header.jpeg) center/cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        text-align: center;
        width: 100%;
        padding: 80px 0;
        background-color: rgba(#fff, .7);
        color: rgba(#000, .85);
        font-family: 'Parisienne', cursive;
        box-shadow: 0 0 10px #fff;
    }

    &__title {
        font-size: 72px;
        margin: 0 0 .4em 0;
        line-height: 1em;
    }

    &__datetime {
        font-size: 42px;
        font-weight: bold;
    }
}