.header {
    height: 100vh;
    background: url(../../../gfx/header.jpeg) center/cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        text-align: center;
        width: 100%;
        padding: 80px 0;
        background-color: rgba(#fff, .7);
        color: rgba(#000, .85);
        box-shadow: 0 0 10px #fff;
    }

    &__title {
        font-size: 72px;
        margin: 0 0 .4em 0;
        line-height: 1em;
        font-family: 'Parisienne', cursive;

        @media screen and (max-width: 700px) {
            font-size: 52px;
        }

        @media screen and (max-width: 450px) {
            font-size: 36px;
        }
    }

    &__datetime {
        font-family: 'Lato', sans-serif;
        font-style: italic;
        font-size: 42px;
        font-weight: bold;
        
        @media screen and (max-width: 700px) {
            font-size: 34px;
        }

        @media screen and (max-width: 450px) {
            font-size: 24px;
        }
    }
}