.nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 60px;
    background-color: #fff;

    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        max-width: 1340px;
        margin: 0 auto;
        padding: 0 20px;
        height: 100%;
    }

    &__element {
        margin: 0 30px;
    }

    &__link {
        text-decoration: none;
        color: #000;
        font-size: 22px;
        padding: 10px;
    }
}