.section {
    &__header {
        position: relative;
        text-align: center;
        margin-bottom: 45px;

        &-text {
            @include fontDecorNormal();

            font-size: 56px;
            margin: 0;

            @media screen and(max-width: $mobileWidth) {
                font-size: 42px;
            }
        }
        &:after {
            content: '';
            display: block;
            margin: 0 auto;
            position: absolute;
            top: calc(100% + 20px);
            left: 50%;
            transform: translateX(-50%);
            background: url(../gfx/wstazka.svg?fill=#f74d4d) center/contain;
            width: 100px;
            height: 25px;
        }
    }
}