.animation {
    max-width: 1340px;
    padding: 0 20px;
    margin: 100px auto;
    position: relative;

    @media screen and (max-width: 700px) {
        margin: 50px auto;
    }

    &__container {
        text-align: center;
        overflow: hidden;
    }

    &__image {
        max-width: 600px;
        width: 100%;
    }
}