.couple {
    padding-bottom: 60px;

    &__container {
        max-width: $maxWidth;
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        position: relative;
    }

    &__header {
        margin: 40px 0 100px 0;

        &-text {
            font-size: 56px;

            @media screen and(max-width: 700px) {
                font-size: 42px;
            }
        }

        @media (max-width: $mobileWidth) {
            margin-bottom: 100px;
        }
    }

    &__couple {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 3%;

        @media (max-width: 700px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__person {
        position: relative;
        padding: 15px 15px 0 15px;
        width: 100%;
        max-width: 300px;

        @media (max-width: $mobileWidth) {
            max-width: 250px;
        }
    }

    &__label {
        position: relative;
        display: block;

        &:hover {
            cursor: pointer;

            .couple {
                &__figure {
                    opacity: .5;
                }
            }
        }
    }
    
    &__figure {
        margin: 0;
        padding: 0;
        width: 100%;
        position: relative;
        overflow: hidden;
        transition: opacity .1s;
        border-radius: 50%;

        &:before {
            float: left;
            width: 1px;
            height: 0;
            content: '';
            padding-top: 100%;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        font-family: 'object-fit: cover;';
        width: 100%;
        height: 100%;
    }

    &__name {
        @include fontDecorNormal();
        
        width: 100%;
        text-align: center;
        font-size: 32px;
        line-height: 50px;
        font-weight: bold;
        height: 50px;
        margin: 10px 0;
    }

    &__description {
        position: absolute;
        top: 0;
        left: 0;
        height: calc(100% - 60px);
        width: 100%;
        padding: 20px;
        background-color: rgba(#fff, .85);
        overflow: hidden;
        pointer-events: none;
        transition: opacity .2s;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-main;
        font-size: 24px;
    }

    &__checkbox {
        display: none;

        &:checked + .couple__person {
            .couple {
                &__description {
                    opacity: 1;
                    overflow: auto;
                }

                &__label {
                    &:hover {
                        .couple {
                            &__figure {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    &__heart {
        opacity: .7;
        width: 10%;
        margin: 0 10px 10% 10px;

        @media screen and (max-width: 1150px) {
            width: 100px;
        }

        @media screen and (max-width: $mobileWidth) {
            margin: 50px 0;
            width: 80px;
        }
    }
}