.event-info {
    background-color: #ffebeb;
    margin: 100px auto;
    font-family: 'Lato', sans-serif;
    padding-bottom: 100px;
    
    &__container {
        max-width: 1340px;
        padding: 0 20px;
        margin: 0 auto;
        position: relative;
    }

    &__header {

        padding: 20px 0;

        &-text {
            margin: 0;
            text-align: center;
            font-family: 'Lato', sans-serif;
            font-size: 56px;

            @media screen and(max-width: 700px) {
                font-size: 42px;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        padding: 20px;
        background-color: #fff;

        @media screen and (max-width: 700px) {
            flex-direction: column;
        }
    }

    &__box {
        width: 45%;

        @media screen and (max-width: 700px) {
            width: 100%;
        }

        &--text {
            height: 450px;
            padding: 30px;
            margin-right: 30px;
            margin-bottom: 20px;

            @media screen and (max-width: 700px) {
                height: auto;
                margin-right: 0;
                padding: 0;
            }
        }
    }

    &__text {
        &-header {
            font-size: 24px;
        }
    }

    &__map {
        max-width: 100%;
        max-height: 100%;
    }

}