.event-info {
    margin: 0 auto;
    font-family: $font-main;
    
    &__container {
        margin: 0 auto;
        position: relative;
    }

    &__box {
        position: relative;
        display: flex;
        align-items: center;

        @media (max-width: $mobileWidth) {
            flex-wrap: wrap;
        }
    }

    &__info {
        width: 50%;
        text-align: center;
        padding: 5%;

        @media (max-width: $mobileWidth) {
            width: 100%;
            order: 1;
            margin: 20px 0;
        }
    }

    &__text {
        font-family: $font-main;
        font-size: 24px;

        &-header {
            @include fontDecorNormal();

            margin: 0 0 20% 0;
            font-size: 56px;

            @media (max-width: $mobileWidth) {
                font-size: 42px;
            }
        }
    }

    &__map {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        padding-bottom: 50%;
        height: 0;

        @media (max-width: $mobileWidth) {
            width: 100%;
            padding-bottom: 100%;
            order: 2;
        }
    }

    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}